<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board 2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a href="/">Bulletin Board</a>
      <% if user_signed_in? %>
        <!-- Links for signed-in users -->
        <a href="<%= boards_path %>">Boards</a>
        <a href="<%= new_board_path %>">New Board</a>
        <a href="<%= edit_user_registration_path %>">Edit Profile</a>
        <a href="<%= destroy_user_session_path %>" data-method="get">Sign Out</a>
      <% else %>
        <!-- Links for guests -->
        <a href="<%= new_user_registration_path %>">Sign Up</a>
        <a href="<%= new_user_session_path %>">Sign In</a>
      <% end %>
    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
